.chats-user {
  display: flex;
  height: 80px;
  margin-top: 10px;
  justify-content: space-between;
}

.profile-user-l {
  display: flex;
}

.profile-user-l__photo {
  display: flex;
}

.profile-user-l__photo img {
  height: 80px;
  width: 80px;
  border-radius: 25px;
  margin-right: 20px;
}

.profile-user-l__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

.friends-screen__user-l__status__massage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}
